---
---
<div
  class="relative bg-primary-900 dark:bg-slate-800 text-muted text-sm overflow-hidden whitespace-nowrap text-ellipsis px-3 py-2"
>
  <span class="bg-white/10 dark:bg-slate-700 font-semibold px-1 py-0.5 text-xs mr-2 uppercase inline-block">Active Project</span>
  <a href="/research" class="text-muted hover:underline dark:text-slate-400 font-medium"
    >ITCloudX currently working on projects with Magic Castle »</a
  >
</div>